
<div class="block">
    <div class="columns is-vcentered is-multiline">
        <div class="column is-half">
            <div class="block">
                <div>Distribution of the <b>gender</b> of hero(in)es</div>
                <div #genderplot id="genderplot"></div>
            </div>
        </div>
        <div class="column is-half">
            <div class="block">
                <div>Distribution of the <b>age</b> of hero(in)es</div>
                <div #ageplot id="ageplot"></div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="block">
                <div>What is the <b>role</b> of the hero(ine) in the story?</div>
                <div #roleplot id="roleplot"></div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="block">
                <div>Is the hero(ine) the <b>narrator</b> of the story?</div>
                <div #narratorplot id="narratorplot"></div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="block">
                <div>Is the hero(ine) the <b>focaliser</b> of the story?</div>
                <div #focaliserplot id="focaliserplot"></div>
            </div>
        </div>
    </div>
</div>