
<div class="columns">
    <div class="column is-narrow">
        <div class="block">
            <form>
                <div class="field">
                    <div class="block">
                        <label class="label" for="work_medium">Medium of the work:</label>
                        <div class="control">
                            <div *ngFor="let response of mediumOptions">
                                <label class="checkbox" [for]="response">
                                    <input type="checkbox" name="work_medium" checked="checked" (change)="onCheckboxChange('work_medium', response, $event)">
                                    {{response}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="block">
                        <label class="label" for="hero_gender">Gender of the hero(ine):</label>
                        <div class="control">
                            <div *ngFor="let response of genderOptions">
                                <label class="checkbox" [for]="response.value">
                                    <input type="checkbox" name="hero_gender" checked="checked" (change)="onCheckboxChange('hero_gender', response.value, $event)">
                                    {{response.label}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="field">
                    <div class="control">
                      <button class="button is-link" type="submit" [disabled]="!formIsValid()" (click)="submitFilters()">View results</button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
    <div class="column ">
        <div class="block">
            <nav class="tabs is-fullwidth">
                <ul>
                    <li class="tab is-active" (click)="openTab($event, 'tab_work')"><a>Works</a></li>
                    <li class="tab" (click)="openTab($event, 'tab_heroes')"><a>Heroes</a></li>
                    <li class="tab" (click)="openTab($event, 'tab_idenficiation')"><a>Identification</a></li>
                    <li class="tab" (click)="openTab($event, 'tab_appearance')"><a>Appearance</a></li>
                    <li class="tab" (click)="openTab($event, 'tab_gender')"><a>Gender Identity</a></li>
                    <li class="tab" (click)="openTab($event, 'tab_profession')"><a>Profession</a></li>
                    <li class="tab" (click)="openTab($event, 'tab_agency')"><a>Agency</a></li>
                    <li class="tab" (click)="openTab($event, 'tab_personality')"><a>Personality</a></li>
                </ul>
            </nav>    
            <div class="container section">
                <div id="tab_work" class="content-tab">
                    <div *ngIf="numberOfResponses != 0">
                        <mh-vis-work [plotData]="plotData"></mh-vis-work>
                    </div>
                    <div *ngIf="numberOfResponses == 0" class="content">
                        There are no responses matching your selection.
                    </div>
                </div>
                <div id="tab_heroes" class="content-tab" style="display:none">
                    <div *ngIf="numberOfResponses != 0">
                        <mh-vis-hero [plotData]="plotData"></mh-vis-hero>
                    </div>
                    <div *ngIf="numberOfResponses == 0" class="content">
                        There are no responses matching your selection.
                    </div>
                </div>
                <div id="tab_idenficiation" class="content-tab" style="display:none">
                    <div *ngIf="numberOfResponses != 0">
                        <mh-vis-identification [plotData]="plotData"></mh-vis-identification>
                    </div>
                    <div *ngIf="numberOfResponses == 0" class="content">
                        There are no responses matching your selection.
                    </div>
                </div>
                <div id="tab_appearance" class="content-tab" style="display:none">
                    <div *ngIf="numberOfResponses != 0">
                        <mh-vis-appearance [plotData]="plotData"></mh-vis-appearance>
                    </div>
                    <div *ngIf="numberOfResponses == 0" class="content">
                        There are no responses matching your selection.
                    </div>
                </div>
                <div id="tab_gender" class="content-tab" style="display:none">
                    <div *ngIf="numberOfResponses != 0">
                        <mh-vis-gender [plotData]="plotData"></mh-vis-gender>
                    </div>
                    <div *ngIf="numberOfResponses == 0" class="content">
                        There are no responses matching your selection.
                    </div>
                </div>
                <div id="tab_profession" class="content-tab" style="display:none">
                    <div *ngIf="numberOfResponses != 0">
                        <mh-vis-profession [plotData]="plotData"></mh-vis-profession>
                    </div>
                    <div *ngIf="numberOfResponses == 0" class="content">
                        There are no responses matching your selection.
                    </div>
                </div>
                <div id="tab_agency" class="content-tab" style="display:none">
                    <div *ngIf="numberOfResponses != 0">
                        <mh-vis-agency [plotData]="plotData"></mh-vis-agency>
                    </div>
                    <div *ngIf="numberOfResponses == 0" class="content">
                        There are no responses matching your selection.
                    </div>
                </div>
                <div id="tab_personality" class="content-tab" style="display:none">
                    <div *ngIf="numberOfResponses != 0">
                        <mh-vis-personality [plotData]="plotData"></mh-vis-personality>
                    </div>
                    <div *ngIf="numberOfResponses == 0" class="content">
                        There are no responses matching your selection.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>