<div class="block">
    <div class="columns is-vcentered is-multiline">
        <div class="column is-half">
            <div class="block">
                <div>Distribution of <b>media</b> among the works</div>
                <div #mediumplot id="mediumplot"></div>
            </div>
        </div>
        <div class="column is-half">
            <div class="block">
                <div><b>Country of publication</b> of the works</div>
                <div #pubcountryplot id="pubcountryplot"></div>
            </div>
        </div>
    </div>
</div>