<div class="content">
    <h1 class="title">Map your hero(ine)</h1>
    <p>
        Welcome! This website forms the distant reading component of the Map Your Hero(ine) project. 
        You can map your favourite hero or heroine by completing a survey. The full survey will take approx. 5 minutes. </p>
    <p>
        The first set of questions is factual, charting your hero. The second charts your response to this character. 
        The factual questions about the hero(ine) only need to be filled out by one reader. The reader response questions can be completed by multiple readers. 
    </p>
    <p>
        Your answers will be added to a database. When you have submitted the questionnaire, you can see an overview of your personal response.
    </p>
    <p>You can use the <a href="/submit">Submit</a> page to participate, or view the <a href="/results">Results</a> of the survey.</p>
</div>

