<div class="block">
    There are <strong>{{numberOfHeroes}}</strong> heroes matching your selection.
</div>
<div class="block">
    <div class="columns is-vcentered is-multiline">
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Gender of the hero(ine)
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="pie" [data]="genderPlotData"></p-chart>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Age of the hero(ine)
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="bar" [data]="agePlotData" [options]=agePlotOptions></p-chart>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        What is the role of the hero(ine) in the story?
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="pie" [data]="rolePlotData"></p-chart>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Is the hero(ine) the narrator of the story?
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="pie" [data]="narratorPlotData"></p-chart>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Is the hero(ine) the focaliser of the story?
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="pie" [data]="focaliserPlotData"></p-chart>
                </div>
            </div>
        </div>
    </div>
</div>