<div class="block">
    <div class="columns is-vcentered is-multiline is-centered">
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        You identify with your hero(ine) because you find common qualities between your personality and that of the character
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="bar" [data]="identificationPersonalityPlotData" [options]="likertPlotOptions"></p-chart>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        You identifiy with your hero(ine) because you are able to explore intruiging experiences and moral boundaries through the character
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="bar" [data]="identificationIntruigingPlotData" [options]="likertPlotOptions"></p-chart>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        You wish to be more like your hero(ine)
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="bar" [data]="identificationWishbelikePlotData" [options]="likertPlotOptions"></p-chart>
                </div>
            </div>
        </div>
    </div>
</div>