<div class="block">
    There are <strong>{{numberOfWorks}}</strong> works matching your selection
</div>
<div class="block">
    <div class="columns is-vcentered is-multiline is-centered">
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Media
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="doughnut" [data]="mediumPlotData"></p-chart>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Source works and adaptations
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="doughnut" [data]="adaptationPlotData"></p-chart>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Country of publication
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="doughnut" [data]="pubcountryPlotData"></p-chart>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Year of publication
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="line" [data]="pubyearPlotData" [options]="pubyearPlotOptions"></p-chart>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Where does the action take place?
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="doughnut" [data]="environmentPlotData"></p-chart>
                </div>
            </div>
        </div>
    </div>
</div>