<div class="block">
    There are <strong>{{numberOfWorks}}</strong> works matching your selection
</div>
<div class="block">
    <div class="columns is-vcentered is-multiline">
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Media
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="pie" [data]="mediumPlotData"></p-chart>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Country of publication
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="pie" [data]="pubcountryPlotData"></p-chart>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Where does the action take place?
                    </p>
                </header>
                <div class="card-content">
                    <p-chart type="pie" [data]="environmentPlotData"></p-chart>
                </div>
            </div>
        </div>
    </div>
</div>