<footer class="footer is-hidden-print">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p class="subtitle">Map your Heroine</p>
                    <div class="content">
                        <p>
                            <a href="https://github.com/UUDigitalHumanitieslab/map_your_heroine">Source code</a> (BSD 3-Clause License)
                        </p>
                    </div>
                </div>
                <div class="column has-text-right-tablet is-narrow">
                    <a class="lab-logo image" href="https://cdh.uu.nl/centre-for-digital-humanities/research-software-lab/" target="_blank">
                        <img src="/static/assets/uu-cdh.png"  alt="Centre for Digital Humanities, Utrecht University" >
                    </a>
              </div>
            </div>
        </div>
    </div>
</footer>
