<div class="block">
    <div class="buttons">
        <button class="button is-link" (click)="downloadResults('works')">
            <span class="icon">
                <fa-icon [icon]="faDownload"></fa-icon>
              </span>
            <span>Download works</span>
        </button>
        <button class="button is-link" (click)="downloadResults('heroes')">
            <span class="icon">
                <fa-icon [icon]="faDownload"></fa-icon>
              </span>
            <span>Download heroes</span>
        </button>
        <button class="button is-link" (click)="downloadResults('responses')">
            <span class="icon">
                <fa-icon [icon]="faDownload"></fa-icon>
              </span>
            <span>Download responses</span>
        </button>
    </div>
</div>