<form [formGroup]="heroForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="field">
    <label class="label" for="name">What is the hero/heroine's name?</label>
    <div class="control">
      <input class="input" id="name" type="text" formControlName="name" placeholder="Name of the hero(ine)">
    </div>
  </div>

  <div class="field">
      <label class="label" for="role">Is this hero/heroine a protagonist or minor character in the story?</label>
      <div class="control">
        <div *ngFor="let role of roleOptions" class="p-field-checkbox">
          <label class="radio">
          <input type="radio" name="role" [value]="role.value" formControlName="role">
          {{role.label}}</label>
        </div>
      </div>
  </div>

  <div class="field">
    <label class="label" for="narrator">
      Is this hero(ine) the narrator for the story?
      <p class="help has-text-grey has-text-weight-normal">
        <i>Narrator:</i> the person who tells the story
      </p>
    </label>

      <div class="control">
        <div *ngFor="let narrator of yesnoOptions" class="p-field-checkbox">
          <label class="radio">
          <input type="radio" name="narrator" [value]="narrator.value" formControlName="narrator">
          {{narrator.label}}</label>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label" for="focaliser">
      Is this hero(ine) the focaliser?
      <p class="help has-text-grey has-text-weight-normal">
        <i>Focaliser:</i> the perspective through which the story is presented
      </p>
    </label>

    <div class="control">
      <div *ngFor="let focaliser of yesnoOptions" class="p-field-checkbox">
        <label class="radio">
        <input type="radio" name="focaliser" [value]="focaliser.value" formControlName="focaliser">
        {{focaliser.label}}</label>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label" for="gender">What is the gender identity of this hero(ine)?</label>
    <div class="control">
      <div *ngFor="let gender of genderOptions" class="p-field-checkbox">
        <label class="radio">
        <input type="radio" name="gender" [value]="gender.value" formControlName="gender">
        {{gender.label}}</label>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label" for="age-dropdown">What is the age of this hero(ine) for most of the story?</label>
    <div class="control">
      <div *ngFor="let age of ageOptions" class="p-field-checkbox">
        <label class="radio">
        <input type="radio" name="age" [value]="age" formControlName="age">
        {{age}}</label>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label" for="countryorigin">In what country was your hero/heroine born? You can also choose "unkown" or "imaginary".</label>
    <div class="control">
      <p-autoComplete id="countryorigin" formControlName="country_origin" placeholder="Pick or type"
      [suggestions]="filteredCountriesOrigin" (completeMethod)="filterCountryOrigin($event)" field="name" [dropdown]="true">
        <ng-template let-country pTemplate="item">
            <div class="country-item">
                <div>{{country.name}}</div>
            </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>

  <div class="field">
    <label class="label" for="countrylive">In which country does this hero/heroine live? If more than one, choose the country in which most of the action takes place.</label>
    <div class="control">
      <p-autoComplete id="countrylive" formControlName="country_live" placeholder="Pick or type"
      [suggestions]="filteredCountriesLive" (completeMethod)="filterCountryLive($event)" field="name" [dropdown]="true">
        <ng-template let-country pTemplate="item">
            <div class="country-item">
                <div>{{country.name}}</div>
            </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>

  <div class="field">
    <label class="label" for="countrygrowup">In which country did this hero/heroine grow up?</label>
    <div class="control">
      <p-autoComplete id="countrygrowup" formControlName="country_growup" placeholder="Pick or type"
      [suggestions]="filteredCountriesGrowup" (completeMethod)="filterCountryGrowup($event)" field="name" [dropdown]="true">
        <ng-template let-country pTemplate="item">
            <div class="country-item">
                <div>{{country.name}}</div>
            </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>

  <div class="field">
    <label class="label" for="education">What is the level of education of this hero/heroine?</label>
    <div class="control">
      <div *ngFor="let education of educationOptions" class="p-field-checkbox">
        <label class="radio">
        <input type="radio" name="education" [value]="education.value" formControlName="education">
        {{education.label}}</label>
    </div>
    </div>
  </div>


  <div class="field">
    <label class="label" for="profession">Which of these options best describes the profession or main occupation of this hero/heroine?</label>
    <div class="control">
      <div *ngFor="let profession of professionOptions" class="p-field-checkbox">
        <label class="radio">
        <input type="radio" name="profession" [value]="profession.value" formControlName="profession">
        {{profession.label}}</label>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label" for="hobbies">What are the hobbies of this hero(ine)?</label>
    <div class="control">
      <p-chips id="hobbies" formControlName="hobbies" placeholder="Hobbies (comma separated)" separator="," addOnBlur="true"></p-chips>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" name="no_hobbies" (change)="onNoHobbiesChange($event)">
        This hero has no (known) hobbies</label>
    </div>
  </div>

  <div class="field">
    <label class="label" for="pets">What kind of pets does this hero(ine) have?</label>
    <div class="control">
      <div *ngFor="let response of petsOptions" class="p-field-checkbox">
        <label class="checkbox">
        <input type="checkbox" name="pets" [value]="response" (change)="onCheckboxChange('pets', response, $event)">
        {{response}}</label>
      </div>
      <div class="p-field-checkbox">
        <label class="checkbox">
        <input type="checkbox" binary="true" formControlName="pets_other_enable">
        Other: <p-chips placeholder="Pets (comma separated)" separator="," formControlName="pets_other"  addOnBlur="true"></p-chips></label>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label" for="appearance">Is this hero(ine) physically attractive within the context of the work / according to the other characters?</label>
    <div class="control">
      <div *ngFor="let response of yesnounkOptions" class="p-field-checkbox">
        <label class="radio">
        <input type="radio" name="appearance" [value]="response.value" formControlName="appearance">
        {{response.label}}</label>
    </div>
    </div>
  </div>

  <div class="field">
    <label class="label" for="role">Are the hero(ine)'s sexual relations described in the text?</label>
    <div class="control">
      <div *ngFor="let response of yesnoOptions" class="p-field-checkbox">
        <label class="radio">
        <input type="radio" name="sex" [value]="response.value" formControlName="sex">
        {{response.label}}</label>
    </div>
    </div>
  </div>

  <div class="field">
    <label class="label" for="wealth">How wealthy is this hero(ine) in the most significant parts of the story?</label>
    <div class="control">
      <div *ngFor="let wealth of wealthOptions" class="p-field-checkbox">
        <label class="radio">
        <input type="radio" name="wealth" [value]="wealth.value" formControlName="wealth">
        {{wealth.label}}</label>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label" for="relatives-dropdown">
      For the most important parts of the story, does this hero(ine) have one or more relatives?
      <p class="help has-text-grey has-text-weight-normal">
        <i>Relative:</i> family member
      </p>
    </label>
    
    <div class="control">
      <div *ngFor="let response of relativesOptions" class="p-field-checkbox">
        <label class="checkbox">
        <input type="checkbox" name="relatives" [value]="response.value" (change)="onCheckboxChange('relatives', response.value, $event)">
        {{response.label}}</label>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label" for="problems">What is the nature of the main problem this hero(ine) encounters?
      <p class="help has-text-grey has-text-weight-normal">
        You can select multiple options. If important problems of this hero(ine) are not listed, you can add them.
      </p>
    </label>
    <div class="control">
      <div *ngFor="let response of problemOptions" class="p-field-checkbox">
        <label class="checkbox">
        <input type="checkbox" name="problems" [value]="response" (change)="onCheckboxChange('problems', response, $event)">
        {{response}}</label>
      </div>
      <div class="p-field-checkbox">
        <label class="checkbox">
        <input type="checkbox" binary="true" formControlName="problems_other_enable">
        Other: <p-chips placeholder="Problems (comma separated)" separator="," formControlName="problems_other"  addOnBlur="true"></p-chips></label>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label" for="solutions">
      How does this hero(ine) overcome problems? You can select multiple options. The most important tools for this hero(ine) are...
      <p class="help has-text-grey has-text-weight-normal">
        You can select multiple options. If important tools of this hero(ine) are not listed, you can add them.
      </p>
    </label>
    <div class="control">
      <div *ngFor="let response of solutionOptions" class="p-field-checkbox">
        <label class="checkbox">
        <input type="checkbox" name="solutions" [value]="response" (change)="onCheckboxChange('solutions', response, $event)">
        {{response}}</label>
      </div>
      <div class="p-field-checkbox">
        <label class="checkbox">
        <input type="checkbox" binary="true" formControlName="solutions_other_enable">
        Other: <p-chips placeholder="Solutions (comma spearated)" separator="," formControlName="solutions_other" addOnBlur="true"></p-chips></label>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-link" type="submit" [disabled]="!formIsValid()">Submit</button>
    </div>
  </div>

  <div class="field" *ngIf="httpError">
    <div class="notification is-error">
      Something went wrong with submitting your form. If you keep seeing this error, please let us know.
    </div>
  </div>

</form>