<label class="label" for="work-dropdown">In which work does your hero(ine) occur?</label>
<div class="field is-grouped">
  <div class="control">
    <ng-container *ngIf="works$ | async as works">
      <p-dropdown #workdropdown [options]="works" [(ngModel)]="existingWork" showClear="true"
        placeholder="pick a work" filter="true" filterBy="title,pub_year,author,medium">
        <ng-template let-work pTemplate="item">{{work.title}} - {{work.medium}} ({{work.pub_year}})</ng-template>
        <ng-template let-work pTemplate="selectedItem">{{work.title}} - {{work.medium}} ({{work.pub_year}})
        </ng-template>
      </p-dropdown>
    </ng-container>
  </div>
  <div class="divider is-vertical">or</div>
  <div class="control">
    <button class="button is-success" (click)="showCreateWork()" [disabled]="existingWork">
      <span class="icon is-small">
        <fa-icon [icon]="faPlus"></fa-icon>
      </span>
      <span>Create new</span>
    </button>
  </div>
</div>

<div *ngIf="existingWork">
  <ul>
    <li *ngFor="let hero of existingWork.heroes">{{hero.name}}</li>
  </ul>
</div>

<p-dialog header="Create a new work" [(visible)]="displayCreateWork">
  <mh-work (addWork)=onWorkAdded($event)></mh-work>
</p-dialog>
