<div *ngIf="!heroChosen && !formCompleted">
  <div class="block">
    <label class="label" for="work-dropdown">In which work does your hero(ine) occur?</label>
    <div class="field is-grouped">
      <div class="control">
        <ng-container *ngIf="works$ | async as works">
          <p-dropdown #workDropdown [options]="works" [(ngModel)]="existingWork" (onChange)="onWorkChange()"
            showClear="true"
            placeholder="pick a work" filter="true" filterBy="title,pub_year,author,medium">
            <ng-template let-work pTemplate="item">{{work.title}} - {{work.medium}} ({{work.pub_year}})</ng-template>
            <ng-template let-work pTemplate="selectedItem">{{work.title}} - {{work.medium}} ({{work.pub_year}})
            </ng-template>
          </p-dropdown>
        </ng-container>
      </div>
      <div class="divider is-vertical">or</div>
      <div class="control">
        <button class="button is-success" (click)="displayCreateWork=true" [disabled]="existingWork">
          <span class="icon is-small">
            <fa-icon [icon]="faPlus"></fa-icon>
          </span>
          <span>Create new</span>
        </button>
      </div>
    </div>
    
    <div *ngIf="existingWork">
      <label class="label" for="hero-dropdown">Who is your hero(ine)?</label>
      <div class="field is-grouped">
        <div class="control">
          <ng-container *ngIf="existingWork.heroes">
            <p-dropdown #herodropdown [options]="existingWork.heroes" [(ngModel)]="existingHero" showClear="true"
              placeholder="pick a hero" [disabled]="existingWork?.heroes.length<1">
              <ng-template let-hero pTemplate="item">{{hero.name}}</ng-template>
              <ng-template let-hero pTemplate="selectedItem">{{hero.name}}
              </ng-template>
            </p-dropdown>
          </ng-container>
        </div>
        <div class="divider is-vertical">or</div>
        <div class="control">
          <button class="button is-success" (click)="displayCreateHero=true" [disabled]="existingHero">
            <span class="icon is-small">
              <fa-icon [icon]="faPlus"></fa-icon>
            </span>
            <span>Create new</span>
          </button>
        </div>
      </div>
    </div>  
  </div>

  <div *ngIf="existingWork">
    <div *ngIf="existingHero">
      <div class="block">
        <div class="control">
          <button class="button is-link" (click)="onChooseHero()">
            <span class="icon"><fa-icon [icon]="faArrowRight"></fa-icon></span>
            <span>Choose this hero</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="heroChosen && !formCompleted">
  <div class="block">
    <div class="control">
      <button class="button is-link" (click)="onGoBack()">
        <span class="icon"><fa-icon [icon]="faArrowLeft"></fa-icon></span>
        <span>Go back</span>
      </button>
    </div>
  </div>

  <div class="block">
    Your response to {{existingHero.name}} from {{existingWork.title}}
  </div>

  <div class="block">
    <mh-response (completeResponse)="onSurveyCompleted($event)"></mh-response>
  </div>

  <div class="field" *ngIf="httpError">
    <div class="notification is-error">
      Something went wrong with submitting your form. If you keep seeing this error, please let us know.
    </div>
  </div>
</div>

<div *ngIf="formCompleted">
  <mh-result [work]="existingWork" [hero]="existingHero" [response]="personalResponse" 
    [createdWork]="createdNewWork" [createdHero]="createdNewHero" [adaptedWork]="adaptedWork"></mh-result>
</div>

<p-dialog header="Create a new work" [(visible)]="displayCreateWork" [style]="{width: '50vw'}">
  <mh-work *ngIf="displayCreateWork" (addWork)=onWorkAdded($event)></mh-work>
</p-dialog>

<p-dialog header="Create a new hero" [(visible)]="displayCreateHero" [style]="{width: '50vw'}">
  <mh-hero *ngIf="displayCreateHero" [work]="existingWork" (addHero)="onHeroAdded($event)"></mh-hero>
</p-dialog>
