<div *ngIf="!heroChosen && !formCompleted">
  <h1 class="title">Submit your response</h1>
  <div class="content">
    <p>
      On this page, you can participate in the project by filling in the questionnaire about your hero(ine).
    </p>

    <p>
      To begin the survey, you can select the work your hero(ine) is from, using the menu below. 
      If your work is not listed, you can add it with the <i>Create new</i> button, which will ask you some factual questions about the work.
      Future participants responding to the same work will not need to answer the factual questions.
    </p>

    <p>
      <b>Important:</b> If you add an adaptation, you will be asked which work it is adapting. 
      Therefore, make sure that the source work is already listed in the dropdown menu, 
      or fill in the survey for the source work <i>before</i> adding your adaptation.
    </p>
  </div>

  <hr>

  <div class="block">
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox" [(ngModel)]="consentGiven">
          I agree with the <a (click)="displayConsentStatement = true">privacy statement</a> for this survey.
        </label>
      </div>
    </div>
  </div>

  <div class="block">
    <label class="label" for="work-dropdown">
      In which work does your hero(ine) feature?
    </label>
    <div class="field is-grouped">
      <div class="control">
        <ng-container *ngIf="works$ | async as works">
          <p-dropdown #workDropdown [options]="works" [(ngModel)]="existingWork" (onChange)="onWorkChange()"
            showClear="true" [disabled]="!consentGiven"
            placeholder="pick a work" filter="true" filterBy="title,pub_year,author,medium">
            <ng-template let-work pTemplate="item">{{work.title}} - {{work.medium}} ({{work.pub_year}})</ng-template>
            <ng-template let-work pTemplate="selectedItem">{{work.title}} - {{work.medium}} ({{work.pub_year}})
            </ng-template>
          </p-dropdown>
        </ng-container>
      </div>
      <div class="divider is-vertical">or</div>
      <div class="control">
        <button class="button is-success" (click)="displayCreateWork=true" [disabled]="existingWork || !consentGiven">
          <span class="icon is-small">
            <fa-icon [icon]="faPlus"></fa-icon>
          </span>
          <span>Create new</span>
        </button>
      </div>
    </div>
    <p class="help has-text-grey has-text-weight-normal">
      The dropdown menu on the left shows all works that are already registered in the project.
      If your work is not listed, you can add it using the button on the right.
    </p>
  </div>

  <div class="block" *ngIf="existingWork">
    <label class="label" for="hero-dropdown">
      Who is your hero(ine)?
    </label>
    <div class="field is-grouped">
      <div class="control">
        <ng-container *ngIf="existingWork.heroes">
          <p-dropdown #herodropdown [options]="existingWork.heroes" [(ngModel)]="existingHero" showClear="true"
            placeholder="pick a hero" [disabled]="existingWork?.heroes.length<1 || !consentGiven">
            <ng-template let-hero pTemplate="item">{{hero.name}}</ng-template>
            <ng-template let-hero pTemplate="selectedItem">{{hero.name}}
            </ng-template>
          </p-dropdown>
        </ng-container>
      </div>
      <div class="divider is-vertical">or</div>
      <div class="control">
        <button class="button is-success" (click)="displayCreateHero=true" [disabled]="existingHero || !consentGiven">
          <span class="icon is-small">
            <fa-icon [icon]="faPlus"></fa-icon>
          </span>
          <span>Create new</span>
        </button>
      </div>
    </div>
    <p class="help has-text-grey has-text-weight-normal">
      The dropdown menu on the left shows all hero(in)es that are already registered for this work.
      If your hero(ine) is not listed, you can add them using the button on the right.
    </p>
  </div>  

  <div class="block" *ngIf="existingWork && existingHero">
    <button class="button is-link" (click)="onChooseHero()" [disabled]="!consentGiven">
      <span class="icon is-small">
        <fa-icon [icon]="faArrowRight"></fa-icon>
      </span>
      <span>Choose this hero</span>
    </button>
  </div>
</div>

<div *ngIf="heroChosen && !formCompleted">
  <div class="block">
    <div class="control">
      <button class="button is-link" (click)="onGoBack()">
        <span class="icon"><fa-icon [icon]="faArrowLeft"></fa-icon></span>
        <span>Go back</span>
      </button>
    </div>
  </div>

  <div class="block">
    The following questions councern your personal response to {{existingHero.name}} from <i>{{existingWork.title}}</i>
  </div>

  <div class="block">
    <mh-response (completeResponse)="onSurveyCompleted($event)"></mh-response>
  </div>

  <div class="field" *ngIf="httpError">
    <div class="notification is-error">
      Something went wrong with submitting your form. If you keep seeing this error, please let us know.
    </div>
  </div>
</div>

<div *ngIf="formCompleted">
  <mh-result [work]="existingWork" [hero]="existingHero" [response]="personalResponse" 
    [createdWork]="createdNewWork" [createdHero]="createdNewHero" [adaptedWork]="adaptedWork"></mh-result>
</div>

<p-dialog header="Create a new work" [(visible)]="displayCreateWork" [style]="{width: '50vw'}">
  <mh-work *ngIf="displayCreateWork" (addWork)=onWorkAdded($event)></mh-work>
</p-dialog>

<p-dialog header="Create a new hero" [(visible)]="displayCreateHero" [style]="{width: '50vw'}">
  <mh-hero *ngIf="displayCreateHero" [work]="existingWork" (addHero)="onHeroAdded($event)"></mh-hero>
</p-dialog>

<p-dialog header="Privacy statement" [(visible)]="displayConsentStatement" [style]="{width: '50vw'}">
  <div class="content">
    <p>
      Responses to this survey will be used in the Map your Hero(ine) research project, analysing and visualising the representation of fictional characters in adaptations. 
      More information about the project can be found on <a href="https://mapyourhero.com" target="blank">mapyourhero.com</a>
    </p>
    <p>
      Participation is anonymous. 
      The data collected are obtained for the purposes of research and education only and retained on a secure server of Utrecht University. 
      Visualisations of the data are publicly available on <a href="https://map-your-hero.hum.uu.nl/results" target="blank">map-your-hero.hum.uu.nl/results</a>.
    </p>
  </div>
</p-dialog>
