<form [formGroup]="workForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="field">
    <label class="label" for="title">Title*</label>
    <div class="control">
      <input class="input" id="title" type="text" formControlName="title" placeholder="Title of the work">
    </div>
  </div>

  <div class="field">
    <label class="label" for="author">Author*</label>
    <div class="control">
      <input class="input" id="author" type="text" formControlName="author" placeholder="Author of the work">
    </div>
  </div>

  <div class="field">
    <label class="label" for="medium-dropdown">Medium*</label>
    <div class="control">
      <p-dropdown id="medium-dropdown" [options]="mediumOptions" editable="true" formControlName="medium"
        placeholder="Pick one or type" showClear="true">
      </p-dropdown>
    </div>
  </div>

  <div class="field">
    <label class="label" for="pubyear">Year of publication*</label>
    <div class="control">
      <input class="input" id="pubyear" type="number" formControlName="pub_year" placeholder="1990">
    </div>
  </div>

  <div class="field">
    <label class="label" for="pubcountry">Country of publication*</label>
    <div class="control">
      <p-autoComplete id="pubcountry" formControlName="pub_country" placeholder="Pick or type"
      [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
        <ng-template let-country pTemplate="item">
            <div class="country-item">
                <div>{{country.name}}</div>
            </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>

  <div class="field">
    <label class="label" for="pubcountry">Is this a source text or an adaptation?*</label>
    <div class="control">
      <label class="radio">
        <input type="radio" formControlName="is_source" [value]="true">
        Source text
      </label>
      <label class="radio">
        <input type="radio" formControlName="is_source" [value]="false">
        Adaptation
      </label>
    </div>
  </div>

  <div class="field" *ngIf="showAdaptationOf">
    <label class="label" for="adaptionof-dropdown">Of which work is this an adaptation?</label>
    <div class="control">
      <p-dropdown id="adaptationof-dropdown" [options]="existingWorksOptions" formControlName="adaptation_of"
        showClear="true" optionValue="value.id" optionLabel="label" placeholder="pick a work">
      </p-dropdown>
    </div>
  </div>

  <div class="field">
    <label class="label" for="environment-dropdown">In what environment does the most of the action take place?*</label>
    <div class="control">
      <div *ngFor="let environment of environmentOptions">
        <label class="radio" [for]="environment.value">
        <input type="radio" name="environment" [value]="environment.value" formControlName="environment" (change)="updateEnvironmentOther()">
        {{environment.label}}</label>
      </div>
      <div>
        <label class="radio" [for]="'other'">
          <input type="radio" name="environment" [value]="'other'" formControlName="environment" (change)="updateEnvironmentOther()">
          other:
          <input class="input" id="environmentOther" type="text" formControlName="environmentOther" placeholder="Specify">
        </label>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-link" type="submit" [disabled]="!workForm.valid">Submit</button>
    </div>
  </div>
<div class="field" *ngIf="httpError">
  <div class="notification is-error">
    Something went wrong with submitting your form. If you keep seeing this error, please let us know.
  </div>
</div>
</form>