<form [formGroup]="workForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="field">
    <label class="label" for="title">Title</label>
    <div class="control">
      <input class="input" id="title" type="text" formControlName="title" placeholder="Title of the work">
    </div>
  </div>

  <div class="field">
    <label class="label" for="medium-dropdown">Medium</label>
    <div class="control">
      <div *ngFor="let medium of mediumOptions">
        <label class="radio">
        <input type="radio" name="medium" [value]="medium.value" formControlName="medium">
        {{medium.label}}</label>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <label class="radio">
            <input type="radio" name="medium" [value]="'other'" formControlName="medium">
            other:
          </label>
        </div>
        <div class="control">
          <input class="input" id="mediumother" type="text" formControlName="mediumOther" placeholder="Specify" style="width:20em">
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label" for="author">{{authorString}}</label>
    <div class="control">
      <input class="input" id="author" type="text" formControlName="author" placeholder="Author of the work">
    </div>
  </div>

  <div class="field">
    <label class="label" for="pubyear">Year of (first) publication</label>
    <div class="control">
      <input class="input" id="pubyear" type="number" formControlName="pub_year" placeholder="2021">
    </div>
  </div>

  <div class="field">
    <label class="label" for="pubcountry">Country of publication</label>
    <div class="control">
      <p-autoComplete id="pubcountry" formControlName="pub_country" placeholder="Pick or type"
      [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
        <ng-template let-country pTemplate="item">
            <div class="country-item">
                <div>{{country.name}}</div>
            </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>

  <div class="field">
    <div class="columns is-vcentered" style="margin-bottom:0px">
      <div class="column">
        <label class="label" for="is_source">Is this a source text or an adaptation?</label>
      </div>
      <div class="column is-narrow">
        <button class="button is-info is-inverted" type="button" (click)="displayHelp.is_source = !displayHelp.is_source">
          <span class="icon"><fa-icon [icon]="faQuestion"></fa-icon></span>
        </button>
      </div>
    </div>
    
    <div class="message is-info" *ngIf="displayHelp.is_source">
      <div class="message-body">
        <strong>Source text:</strong> an original work
      </div>
    </div>

    
    <div class="control">
      <label class="radio">
        <input type="radio" formControlName="is_source" [value]="true">
        Source text
      </label>
      <label class="radio">
        <input type="radio" formControlName="is_source" [value]="false">
        Adaptation
      </label>
    </div>
  </div>

  <div class="field" *ngIf="showAdaptationOf">
    <div class="columns is-vcentered" style="margin-bottom:0px">
      <div class="column">
        <label class="label" for="adaptionof-dropdown">
          Of which work is this an adaptation? 
        </label>
      </div>
      <div class="column is-narrow">
        <button class="button is-info is-inverted" type="button" (click)="displayHelp.adaptation_of = !displayHelp.adaptation_of">
          <span class="icon"><fa-icon [icon]="faQuestion"></fa-icon></span>
        </button>
      </div>
    </div>
    
    <div class="message is-info" *ngIf="displayHelp.adaptation_of">
      <div class="message-body">
        The menu below shows all works that are registered in the project: pick the source work from this list. If your source work is listed, add it first (using this form), and then add your adaptation. When adding the source work, you do not need to add heroes or fill in the rest of the survey.
      </div>
    </div>

    <div class="control">
      <p-autoComplete id="adaptationof-dropdown" formControlName="adaptation_of" placeholder="Pick or type"
      [suggestions]="filteredWorks" (completeMethod)="filterWork($event)" field="label" [dropdown]="true">
        <ng-template let-work pTemplate="item">
            <div class="work-item">
                <div>{{work.label}}</div>
            </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>

  <div class="field">
    <div class="columns is-vcentered" style="margin-bottom:0px">
      <div class="column">
        <label class="label" for="environment-dropdown">In what environment does the most of the action take place?</label>
      </div>
      <div class="column is-narrow">
        <button class="button is-info is-inverted" type="button" (click)="displayHelp.environment = !displayHelp.environment">
          <span class="icon"><fa-icon [icon]="faQuestion"></fa-icon></span>
        </button>
      </div>
    </div>
    
    <div class="message is-info" *ngIf="displayHelp.environment">
      <div class="message-body">
        <p>Pick which environment is best describes the setting of your work. If none apply, you can fill in your own (brief) description.</p>
        <p><strong>Extra-terrestial:</strong> outer space</p>
      </div>
    </div>
    
    <div class="control">
      <div *ngFor="let environment of environmentOptions">
        <label class="radio">
        <input type="radio" name="environment" [value]="environment.value" formControlName="environment">
        {{environment.label}}</label>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <label class="radio">
            <input type="radio" name="environment" [value]="'other'" formControlName="environment">
            other:
          </label>
        </div>
        <div class="control">
          <input class="input" id="environmentOther" type="text" formControlName="environmentOther" placeholder="Specify" style="width:20em">
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-link" type="submit" [disabled]="!workForm.valid">Submit</button>
    </div>
  </div>
<div class="field" *ngIf="httpError">
  <div class="notification is-error">
    Something went wrong with submitting your form. If you keep seeing this error, please let us know.
  </div>
</div>
</form>